{% extends 'main/base.html' %}
{% load static %}

{% block pagetitle %}
    OT #{{ workorder_data.id }} - Agregar Repuestos
{% endblock %}

{% block title %}
    Agregar Repuestos a Orden de Trabajo #{{ workorder_data.id }}
{% endblock %}





{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
            <form class="form-horizontal" action="" method="post" >
                {% csrf_token %}
                {% include 'main/form-template.html' %}
                <div class="form-group">
                    <div class="col-sm-offset-0 col-sm-10">
                        <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> Agregar Repuesto</button>
                    </div>
                </div>
            </form>
            <a href="{% url 'main:workorder-detail'  workorder_data.id %}"><button class="btn btn-primary">Aceptar</button></a>
        </div>
        <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Detalle</strong></h3>
                    </div>
                     <div class="panel-body">
                          <div class="table-responsive">
                              <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <td colspan="2"><strong>Repuesto</strong></td>
                                        <td class="text-center"><strong></strong></td>
                                        <td class="text-center"><strong>Cantidad</strong></td>
                                        <td class="text-center"><strong>Precio Unidad</strong></td>
                                        <td class="text-right"><strong>Importe</strong></td>
                                        <td class="text-right"><strong></strong></td>
                                    </tr>
                                </thead>
                                {% for part in workorder_data.workorderparts_set.all %}
                                    <tr>
                                        <td>{{ part.part.part_name }}</td>
                                        <td>{{ part.part.category }}</td>
                                        <td class="text-center"></td>
                                        <td class="text-center">{% if part.price %}{{ part.quantity }}{% endif %}</td>
                                        <td class="text-center">{% if part.price %}{{ part.price }}{% endif %}</td>
                                        <td class="text-right">{% if part.price %}{{ part.part_price }}{% endif %}</td>
                                        <td class="text-right">
                                            <a href="{% url 'main:workorderparts-listdelete' part.id %}"><span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                              </table>
                          </div>
                     </div>
                </div>
        </div>
        <div class="col-lg-3">
        </div>
    </div>
</div>
{% endblock %}

{% block exta_script %}
{{ form.media }}
{% endblock %}