<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    {% load staticfiles %}

    <title>
        {% block pagetitle %}Admincar - ForAuto{% endblock %}
    </title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'main/sb_admin2/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static 'main/sb_admin2/vendor/metisMenu/metisMenu.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'main/sb_admin2/dist/css/sb-admin-2.css' %}" rel="stylesheet">

    <!-- My Style Override CSS -->
    <link href="{% static 'main/css/mystile.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Yellowtail" rel="stylesheet">
    <link href="{% static 'main/sb_admin2/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Morris Charts CSS -->
    <link href="{% static 'main/sb_admin2/vendor/morrisjs/morris.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'main/sb_admin2/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- DataTables -->
    <link rel="stylesheet" type="text/css" href="{% static 'main/DataTables/datatables.min.css' %}"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
        .panel-tabs {
            position: relative;
            bottom: 30px;
            clear:both;
            border-bottom: 1px solid transparent;
        }

        .panel-tabs > li {
            float: left;
            margin-bottom: -1px;
        }

        .panel-tabs > li > a {
            margin-right: 2px;
            margin-top: 4px;
            line-height: .85;
            border: 1px solid transparent;
            border-radius: 4px 4px 0 0;
            color: #ffffff;
        }

        .panel-tabs > li > a:hover {
            border-color: transparent;
            color: #ffffff;
            background-color: transparent;
        }

        .panel-tabs > li.active > a,
        .panel-tabs > li.active > a:hover,
        .panel-tabs > li.active > a:focus {
            color: #fff;
            cursor: default;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
            background-color: rgba(255,255,255, .23);
            border-bottom-color: transparent;
        }
    </style>

</head>

<body>


    <div id="wrapper">
    {% if user.is_authenticated %}
        {% if not user.is_staff %}
        {% block navbar %}
            <!-- Navigation -->
           <nav class="navbar navbar-static-top navbar-inverse">
                <div class="container-fluid">
                    <!-- Header -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{% url 'main:index' %}"  tabindex="-1">ForAuto</a>
                    </div>
                    <div class="collapse navbar-collapse" id="topNavBar">
                        <ul class="nav navbar-nav">
                            <li><a href="#tab1" data-toggle="tab"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Afectaciones</a></li>
                            <li class="active"><a href="#tab2" data-toggle="tab"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Ordenes</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="{% url 'main:logout' %}"  tabindex="-1">
                                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Salir
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </nav>
        {% endblock %}
        <!-- Page Content -->
        <div id="page-wrapper" style="min-height: 100%">

            <div class="container-fluid">

                <div class="row">

                    <div class="col-lg-12">
                        <h1 class="page-header" style="padding-top: 10px">{% block title %}Title{% endblock %}</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->

                <!-- START CONTENT -->
                {% block content %}


                {% endblock %}

                <!-- END CONTENT -->

            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
        {% else %}
            <nav class="navbar navbar-static-top navbar-inverse">
                <div class="container-fluid">
                    <!-- Header -->
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{% url 'main:index' %}"  tabindex="-1">ForAuto</a>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{% url 'main:logout' %}"  tabindex="-1">
                                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Salir
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="row" style="padding: 20px">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-lg-offset-3 col-md-offset-3 col-sm-offset-3">
                    <div class="alert alert-danger"><strong>{{ user.username }}</strong>, su usuario no tiene permisos para acceder a este contenido.</div>
                    <a href="{% url 'main:welcome' %}"><div class="btn btn-primary btn-lg btn-block">Atrás</div></a>
                    </br>
                    <a href="{% url 'main:logout' %}"><div class="btn btn-danger btn-lg btn-block">Cerrar Sesión</div></a>
                </div>
            </div>
        {% endif %}
    {% else %}
         <nav class="navbar navbar-static-top navbar-inverse">
                <div class="container-fluid">
                    <!-- Header -->
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{% url 'main:index' %}"  tabindex="-1">ForAuto</a>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{% url 'main:logout' %}"  tabindex="-1">
                                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Salir
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-lg-offset-3 col-md-offset-3 col-sm-offset-3">
                    <div class="alert alert-danger">No ha iniciado sesión. Inicie sesión para acceder a este contenido</div>
                    <a href="{% url 'main:login' %}"><div class="btn btn-primary btn-lg btn-block">Iniciar sesión</div></a>
                </div>
            </div>
    {% endif %}

    </div>
    <!-- /#wrapper -->


    <!-- jQuery -->
    <script src="{% static 'main/sb_admin2/vendor/jquery/jquery.min.js' %}"></script>

    {% block extra_js_scripts %}
    {% endblock %}

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'main/sb_admin2/vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'main/sb_admin2/vendor/metisMenu/metisMenu.min.js' %}"></script>



    {% block datatables_scripts %}
    {% endblock %}

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'main/sb_admin2/dist/js/sb-admin-2.js' %}"></script>

    {% block exta_script %}
    {% endblock %}



</body>

</html>
