{% extends 'main/base.html' %}

{% block title %}
    Eliminar Automotor
{% endblock %}




{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="well well-sm">
                <h2>¿Esta seguro que desea eliminar {{ vehicle.model }}?</h2>
                <form action="{% url 'main:vehicle-delete' object.pk %}" method="post">
                {% csrf_token %}
                <input type="submit" class="btn btn-danger" value="Eliminar" />
                <button onclick="window.history.back();" class="btn btn-primary">Cancelar</button>
                </form>
            </div>
        </div>
    </div>



{% endblock %}