{% extends 'main/base.html' %}
{% load staticfiles %}

{% block pagetitle %}
    Automotores
{% endblock %}

{% block title %}
    Automotores
{% endblock %}

{% block body %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a href="{% url 'main:vehicleclient-add' %}"><button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Agregar Automotor</button></a>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Cliente</th>
                                        <th>Modelo</th>
                                        <th>Color</th>
                                        <th>Patente</th>
                                        <th>Año</th>
                                        <th>Motor</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for vehicle in object_list %}
                                    <tr class="odd gradeX">
                                        <td>
                                            <a href="{% url 'main:client-detail' vehicle.client.id %}">
                                            {{ vehicle.model }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{% url 'main:client-detail' vehicle.client.id %}">
                                                {% if vehicle.client.business_name %}{{ vehicle.client.business_name }} - {% endif %}  {{ vehicle.client.first_name }} {{ vehicle.client.last_name }}
                                            </a>
                                        </td>
                                        <td>{{ vehicle.color }}</td>
                                        <td>{{ vehicle.licence_plate }}</td>
                                        <td>{{ vehicle.year }}</td>
                                        <td>{{ vehicle.engine }}</td>
                                        <td class="center">
                                            <a href="{% url 'main:client-detail' vehicle.client.id %}"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
                                            <a href="{% url 'main:vehicle-update' vehicle.id %}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <!-- /.table-responsive -->

                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
{% endblock %}

{% block datatables_scripts %}
    <!-- DataTables JavaScript -->
    <script src="{% static 'main/sb_admin2/vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'main/sb_admin2/vendor/datatables-plugins/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'main/sb_admin2/vendor/datatables-responsive/dataTables.responsive.js' %}"></script>
{% endblock %}

{% block exta_script %}
    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            "responsive": true,
            "language": {
                "sProcessing":     "Procesando...",
                "sLengthMenu":     "Mostrar _MENU_ registros",
                "sZeroRecords":    "No se encontraron resultados",
                "sEmptyTable":     "Ningún dato disponible en esta tabla",
                "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix":    "",
                "sSearch":         "Buscar:",
                "sUrl":            "",
                "sInfoThousands":  ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst":    "Primero",
                    "sLast":     "Último",
                    "sNext":     "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            }
        });
    });
    </script>
{% endblock %}