{% extends 'main/base.html' %}
{% load static %}

{% block pagetitle %}
    Nueva Orden de Trabajo
{% endblock %}

{% block title %}
    Nueva Orden de Trabajo
{% endblock %}



{% block content %}
<div class="container-fluid">
    <form class="form-horizontal" action="" method="post" >
        {% csrf_token %}

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <span class="text-danger small">{{ form.vehicle.errors }}</span>
                </div>
            <label class="control-label col-sm-2">{{ form.vehicle.label_tag }}</label>
            <div class="col-sm-10">{{ form.vehicle }}</div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <span class="text-danger small">{{ form.initial_obs.errors }}</span>
                </div>
            <label class="control-label col-sm-2">{{ form.initial_obs.label_tag }}</label>
            <div class="col-sm-10">{{ form.initial_obs }}</div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <span class="text-danger small">{{ form.diagnostic.errors }}</span>
                </div>
            <label class="control-label col-sm-2">{{ form.diagnostic.label_tag }}</label>
            <div class="col-sm-10">{{ form.diagnostic }}</div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <span class="text-danger small">{{ form.note.errors }}</span>
                </div>
            <label class="control-label col-sm-2">{{ form.note.label_tag }}</label>
            <div class="col-sm-10">{{ form.note }}</div>
            </div>


        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">Aceptar</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block exta_script %}
{{ form.media }}
{% endblock %}