{% extends 'main/base.html' %}

{% block title %}
    Eliminar
{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="well well-sm">
                <h2>Se eliminó Orden de trabajo #{{ workorder.id }}</h2>
                <form action="{% url 'main:workorder-delete' object.pk %}" method="post">
                {% csrf_token %}
                <input type="submit" class="btn btn-danger" value="Eliminar" />
                </form>
            </div>
        </div>
    </div>

{% endblock %}