{% extends 'main/base.html' %}
{% load static %}

{% block pagetitle %}
    Nueva Orden de Trabajo
{% endblock %}

{% block title %}
    Editar detalles de Orden de Trabajo
{% endblock %}



{% block content %}
<div class="container-fluid">
    <form class="form-horizontal" action="" method="post" >
        {% csrf_token %}

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <span class="text-danger small">{{ form.fuel_level.errors }}</span>
                </div>
            <label class="control-label col-sm-2">{{ form.fuel_level.label_tag }}</label>
            <div class="col-sm-10">{{ form.fuel_level }}</div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <span class="text-danger small">{{ form.kilometers.errors }}</span>
                </div>
            <label class="control-label col-sm-2">{{ form.kilometers.label_tag }}</label>
            <div class="col-sm-10">{{ form.kilometers }}</div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <span class="text-danger small">{{ form.total_manual.errors }}</span>
                </div>
            <label class="control-label col-sm-2">{{ form.total_manual.label_tag }}</label>
            <div class="col-sm-10">{{ form.total_manual }}</div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <span class="text-danger small">{{ form.ticket_number.errors }}</span>
                </div>
            <label class="control-label col-sm-2">{{ form.ticket_number.label_tag }}</label>
            <div class="col-sm-10">{{ form.ticket_number }}</div>
            </div>


            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <span class="text-danger small">{{ form.note.errors }}</span>
                </div>
            <label class="control-label col-sm-2">{{ form.note.label_tag }}</label>
            <div class="col-sm-10">{{ form.note }}</div>
            </div>


        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">Aceptar</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block exta_script %}
{{ form.media }}
{% endblock %}