<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    {% load staticfiles %}

    <title>
        {% block pagetitle %}Admincar - ForAuto{% endblock %}
    </title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'main/sb_admin2/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static 'main/sb_admin2/vendor/metisMenu/metisMenu.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'main/sb_admin2/dist/css/sb-admin-2.css' %}" rel="stylesheet">

    <!-- My Style Override CSS -->
    <link href="{% static 'main/css/mystile.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Yellowtail" rel="stylesheet">
    <link href="{% static 'main/sb_admin2/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Morris Charts CSS -->
    <link href="{% static 'main/sb_admin2/vendor/morrisjs/morris.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'main/sb_admin2/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- DataTables -->
    <link rel="stylesheet" type="text/css" href="{% static 'main/DataTables/datatables.min.css' %}"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>



    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-fixed-top navbar-inverse">
            <div class="container-fluid">
                <!-- Header -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'main:index' %}">ForAuto</a>
                </div>

                <!-- Items -->
                <div class="collapse navbar-collapse" id="topNavBar">
                    <ul class="nav navbar-nav">
                        <li class=""><a href="{% url 'main:client-index' %}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Clientes</a></li>
                        <li class=""><a href="{% url 'main:vehicle-index' %}"><span class="fa fa-truck" aria-hidden="true"></span>&nbsp; Automotores</a></li>
                        <li class=""><a href="{% url 'main:workorder-index' %}"><span class="fa fa-file-text" aria-hidden="true"></span>&nbsp; Órdenes de Trabajo</a></li>
                        <li class=""><a href="{% url 'main:calendar' %}"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp; Calendario</a></li>
                       <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-list-alt fa-fw"></span> Administración<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li>
                                    <a href="{% url 'main:brand-index' %}"><span class="fa fa-th-large"></span> Marcas</a>
                                </li>
                                <li>
                                    <a href="{% url 'main:model-index' %}"><span class="fa fa-th"></span> Modelos</a>
                                </li>
                                <li>
                                    <a href="{% url 'main:work-index' %}"><span class="fa fa-wrench"></span> Trabajos</a>
                                </li>
                                 <li>
                                    <a href="{% url 'main:part-index' %}"><span class="fa fa-cog"></span> Repuestos</a>
                                </li>
                                <li>
                                    <a href="{% url 'main:workcategory-index' %}"><span class="fa fa-wrench"></span> Categorías de Trabajos</a>
                                </li>
                                <li>
                                    <a href="{% url 'main:partcategory-index' %}"><span class="fa fa-cog"></span> Categorías de Repuestos</a>
                                </li>
                                <li>
                                    <a href="{% url 'main:employee-index' %}"><span class="fa fa-user"></span>  Empleados</a>
                                </li>
                                <li>
                                    <a href="/settings"><span class="fa fa-cogs"></span> Configuración</a>
                                </li>
                        </ul>
                      </li>

                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{% url 'main:workorder-add' %}">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Nueva Orden
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'main:client-add'%}">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Nuevo Cliente
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Salir
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.navbar-static-side --> <!-- /Sidebar -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper" style="min-height: 100%; margin-top: 50px">

            <div class="container-fluid">

                <div class="row">

                    <div class="col-lg-12">
                        <h1 class="page-header" style="padding-top: 10px">{% block title %}Title{% endblock %}</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->

                <!-- START CONTENT -->
                {% block body %}


                {% endblock %}

                <!-- END CONTENT -->

            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{% static 'main/sb_admin2/vendor/jquery/jquery.min.js' %}"></script>

    {% block extra_js_scripts %}
    {% endblock %}

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'main/sb_admin2/vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'main/sb_admin2/vendor/metisMenu/metisMenu.min.js' %}"></script>



    {% block datatables_scripts %}
    {% endblock %}

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'main/sb_admin2/dist/js/sb-admin-2.js' %}"></script>

    {% block exta_script %}
    {% endblock %}

</body>

</html>
