<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    {% load staticfiles %}

    <title>
        {% block pagetitle %}Admincar - Mustang Garage{% endblock %}
    </title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'main/sb_admin2/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static 'main/sb_admin2/vendor/metisMenu/metisMenu.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'main/sb_admin2/dist/css/sb-admin-2.css' %}" rel="stylesheet">

    <!-- My Style Override CSS -->
    <link href="{% static 'main/css/mystile.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Yellowtail" rel="stylesheet">
    <link href="{% static 'main/sb_admin2/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Morris Charts CSS -->
    <link href="{% static 'main/sb_admin2/vendor/morrisjs/morris.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'main/sb_admin2/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- DataTables -->
    <link rel="stylesheet" type="text/css" href="{% static 'main/DataTables/datatables.min.css' %}"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>



    <div id="wrapper">
        <!-- START CONTENT -->
        {% block title %}Title{% endblock %}



{% block content %}

        {% endblock %}

        <!-- END CONTENT -->
    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{% static 'main/sb_admin2/vendor/jquery/jquery.min.js' %}"></script>

    {% block extra_js_scripts %}
    {% endblock %}

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'main/sb_admin2/vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'main/sb_admin2/vendor/metisMenu/metisMenu.min.js' %}"></script>



    {% block datatables_scripts %}
    {% endblock %}

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'main/sb_admin2/dist/js/sb-admin-2.js' %}"></script>

    {% block exta_script %}
    {% endblock %}

</body>

</html>
