<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    {% load staticfiles %}

    <title>
        {% block pagetitle %}Admincar - Mustang Garage{% endblock %}
    </title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'main/sb_admin2/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static 'main/sb_admin2/vendor/metisMenu/metisMenu.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'main/sb_admin2/dist/css/sb-admin-2.css' %}" rel="stylesheet">

    <!-- My Style Override CSS -->
    <link href="{% static 'main/css/mystile.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Yellowtail" rel="stylesheet">
    <link href="{% static 'main/sb_admin2/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Morris Charts CSS -->
    <link href="{% static 'main/sb_admin2/vendor/morrisjs/morris.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'main/sb_admin2/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- DataTables -->
    <link rel="stylesheet" type="text/css" href="{% static 'main/DataTables/datatables.min.css' %}"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>



    <div id="wrapper">
    <nav class="navbar navbar-static-top navbar-inverse">
        <div class="container-fluid">
            <!-- Header -->
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'main:index' %}"  tabindex="-1">Mustang Garage</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{% url 'main:logout' %}"  tabindex="-1">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Salir
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="row">
        <img class="img-responsive center-block" src="{% static "/main/img/logo.png" %}" class="img-fluid" alt="Logo" style="height: 50vh"/>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-lg-offset-3 col-md-offset-3 col-sm-offset-3">
        {% if user.is_authenticated %}
            {% if user.is_staff %}
                <div class="alert alert-info">Bienvenido <strong>{{ user.username }}</strong>.</div>
                <a href="{% url 'main:index' %}"><div class="btn btn-primary btn-lg btn-block">Acceder</div></a>
            {% else %}
                <div class="alert alert-info">Bienvenido <strong>{{ user.username }}</strong>.</div>
                <a href="{% url 'main:profile' %}"><div class="btn btn-primary btn-lg btn-block">Acceder</div></a>
            {% endif %}
        {% else %}
            <div class="alert alert-danger">No ha iniciado sesión. Inicie sesión para acceder a este contenido</div>
            <a href="{% url 'main:login' %}"><div class="btn btn-primary btn-lg btn-block">Iniciar sesión</div></a>
        {% endif %}
      </div>
    </div>

    </div>
    <!-- /#wrapper -->


    <!-- jQuery -->
    <script src="{% static 'main/sb_admin2/vendor/jquery/jquery.min.js' %}"></script>

    {% block extra_js_scripts %}
    {% endblock %}

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'main/sb_admin2/vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'main/sb_admin2/vendor/metisMenu/metisMenu.min.js' %}"></script>



    {% block datatables_scripts %}
    {% endblock %}

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'main/sb_admin2/dist/js/sb-admin-2.js' %}"></script>

    {% block exta_script %}
    {% endblock %}



</body>

</html>
